<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag id='new_post', src: new_post_path %>
<div id="posts">
  <%= render @posts %>
</div>

<div data-controller='alert'>
  <button data-action='click->alert#show'>Alert me!</button>
</div>

<div data-controller='greeter'>
  <input type='text' data-greeter-target='name'>
  <button data-action='click->greeter#greet'>Greet me</button>
  <div data-greeter-target='output'></div>
</div>

