<p style="color: green"><%= notice %></p>

<h1>Cats</h1>

<div id="cats">
  <% @cats.each do |cat| %>
    <%= render cat %>
    <p>
      <%= link_to "Show this cat", cat %>
    </p>
  <% end %>
</div>

<%= link_to "New cat", new_cat_path %>

<turbo-frame id='new_message'>
  <form action='/messages' method='post'>
  </form>
</turbo-frame>

<turbo-frame id='messages' src='/messages'>
  <p>This message will be replaced by the response from /messages.</p>
</turbo-frame>

<turbo-stream action='append' target='messages'>
  <template>
    <div id='message_1'>My new message!</div>
  </template>
</turbo-stream>

<turbo-stream action='replace' target='message_1'>
  <template>
    <div id='message_1'>This changes the existing message!</div>
  </template>
</turbo-stream>